
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-image: url(http://free-illustrations-ls01.gatag.net/images/lgi01a201411041300.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}